*,*::before,*::after {
    box-sizing: border-box;
    user-select: none;
    overflow: hidden;
    
}

body{
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
}


.world {
    overflow: hidden;
    position: relative;

}

.score {
    position: absolute;
    font-size: 3vmin;
    right: 1vmin;
    top: 1vmin;
    color: aliceblue;
}


.start-screen{
    position: absolute;
    font-size: 5vmin;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.hide {
    display: none;
}

.ground {
    --left:0;
    position: absolute;
    width: 150%;
    bottom:15%;
    left: calc(var(--left)*1%);
}

.snowman{
    --bottom:15;
    position: absolute;
    left: 1%;
    height: 15%;
    bottom: calc(var(--bottom)*1%);
}

.tree {
    position: absolute;
    left: calc(var(--left)*1%);
    height: 30%;
    bottom: 0;
}